<footer class="bg-yellow-500 border-t-4 border-yellow-500 sm:pb-4 md:pb-10 lg:pb-10 sm:pt-1 md:pt-4 lg:pt-4">
  <div class="container mx-auto flex justify-center items-center">
    <div class="flex items-center">
      <i class="fa-regular fa-copyright mr-1 text-gray-600 text-xs"></i>
      <span class="text-gray-600 text-xs">2024, Arkaitz Calvo Saldias</span>
    </div>
    <div class="ml-2 flex space-x-1">
      <a href="https://www.linkedin.com/in/arkaitz-calvo-saldias-71a3a4238/?originalSubdomain=es" target="_blank"><i class="fab fa-linkedin text-gray-600 text-2xl"></i></a>
      <a href="https://github.com/XxFenixDCxX" target="_blank"><i class="fab fa-github text-gray-600 text-2xl"></i></a>
      <a href="mailto:arkaitzcs@gmail.com?subject=Correo desde el portfolio" target="_blank"><i class="fa-solid fa-envelope text-gray-600 text-2xl"></i></a>
    </div>
  </div>
</footer>
