<div class="flex flex-col items-center justify-center pt-10 pb-10 bg-gray-100">
  <div class="text-center">
    <h1 class="text-4xl font-bold mb-1">SOBRE MI</h1>
    <h2 class="text-xs text-gray-600 mb-8 font-bold">DISEÑO Y PROGRAMO TU SITIO WEB: <b class="text-yellow-500">FULLSTACK EN ACCIÓN!</b></h2>
  </div>

  <div class="max-w-4xl text-center mb-8 text-sm">
    <p class="mb-4">Con una pasión arraigada por la informática y los videojuegos, he cultivado una curiosidad insaciable que me impulsa constantemente a estar al tanto de las últimas tendencias y tecnologías emergentes. Con un título en desarrollo de aplicaciones multiplataforma, he perfeccionado mis habilidades como desarrollador y he demostrado mi capacidad para enfrentar desafíos con creatividad con los retos propuestos en el aula o con los propuestos en la empresa de practicas.</p>
    <p class="mb-4">Mi búsqueda en una empresa se centra en encontrar un entorno que fomente el crecimiento y la innovación, donde pueda contribuir con mis conocimientos y al mismo tiempo seguir aprendiendo y desarrollándome profesionalmente. Estoy emocionado por las nuevas oportunidades que me permitan expandir mi conjunto de habilidades y enfrentar proyectos apasionantes en el mundo del desarrollo de software.</p>
  </div>

  <div class="flex flex-col space-y-4 mb-8">
    <a href="../../assets/pdf/CurriculumColor.pdf" target="_blank" class="bg-yellow-500 text-white py-2 px-4 button text-xs font-normal w-max m-auto">[MI CURRICULUM (PDF, COLOR)]</a>
    <a href="../../assets/pdf/CurriculumBN.pdf" target="_blank" class="bg-yellow-500 text-white py-2 px-4 button text-xs font-normal w-max m-auto">[MI CURRICULUM (PDF, B/N)]</a>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 justify-center sm:mr-20 sm:ml-20">
    <div class="max-w-sm  p-4 flex space-x-4">
      <i class="fa-brands fa-figma text-5xl text-gray-600"></i>
      <div>
        <h3 class="text-base font-bold mb-1">DESARROLLADOR DE <b class="text-yellow-500">FRONTAL</b></h3>
        <p class="text-gray-600 text-xs">Creación de interfaces de usuario atractivas y receptivas con HTML5, CSS3 y JavaScript. Uso de jQuery para funcionalidades dinámicas y Bootstrap para la rápida implementación de diseños responsivos. Experticia en WordPress y React para aplicaciones web avanzadas.</p>
      </div>
    </div>
    <div class="max-w-sm p-4 flex space-x-4">
      <i class="fa-solid fa-database text-5xl text-gray-600"></i>
      <div>
        <h3 class="text-base font-bold mb-1">ADMINISTRACIÓN DE <b class="text-yellow-500">BASES DE DATOS</b></h3>
        <p class="text-gray-600 text-xs">Gestión eficiente de bases de datos con MySQL y Microsoft SQL Server. Diseño de esquemas de bases de datos y consultas SQL avanzadas para un rendimiento óptimo. Experiencia en almacenamiento y recuperación de grandes volúmenes de datos.</p>
      </div>
    </div>
    <div class="max-w-sm p-4 flex space-x-4">
      <i class="fa-brands fa-connectdevelop text-5xl text-gray-600"></i>
      <div>
        <h3 class="text-base font-bold mb-1">DESARROLLADOR DE <b class="text-yellow-500">BACKEND</b></h3>
        <p class="text-gray-600 text-xs">Desarrollo de la lógica de negocio y gestión de datos en el servidor utilizando PHP, Node.js y Python. Creación de API RESTful para comunicación frontend-backend. Uso de Express.js y Django para un desarrollo ágil y escalable.</p>
      </div>
    </div>
    <div class="max-w-sm p-4 flex space-x-4">
      <i class="fa-solid fa-code text-5xl text-gray-600"></i>
      <div>
        <h3 class="text-base font-bold mb-1">CÓDIGO <b class="text-yellow-500">LIMPIO</b></h3>
        <p class="text-gray-600 text-xs">Aplicación de las mejores prácticas de programación para escribir código limpio y mantenible. Enfoque en el desarrollo dirigido por pruebas (TDD) y refactorización continua. Compromiso con la calidad y la claridad del código en todo momento.</p>
      </div>
    </div>
  </div>
</div>
