<div class="flex flex-col items-center justify-center pt-10 pb-10 bg-gray-100  pl-5 pr-5 md:pl-16 md:pr-16">
  <div class="text-center">
    <h1 class="text-4xl font-bold mb-1">{{translate('aboutTitle')}}</h1>
    <h2 class="text-xs text-gray-600 mb-8 font-bold ">{{translate('aboutSubtitlePart1')}}<b class="text-yellow-500">{{translate('aboutSubtitlePart2')}}</b></h2>
  </div>

  <div class="max-w-4xl text-center mb-8 text-sm ">
    <p class="mb-4">{{translate('aboutDescription1')}}</p>
    <p class="mb-4">{{translate('aboutDescription2')}}</p>
  </div>

  <div class="flex flex-col space-y-4 mb-8">
    <a href="../../assets/pdf/CurriculumColor.pdf" target="_blank" class="bg-yellow-500 text-white py-2 px-4 button text-xs font-normal w-max m-auto">{{translate('btnColorCurriculum')}}</a>
    <a href="../../assets/pdf/CurriculumBN.pdf" target="_blank" class="bg-yellow-500 text-white py-2 px-4 button text-xs font-normal w-max m-auto">{{translate('btnBWCurriculum')}}</a>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 justify-center sm:mr-20 sm:ml-20">
    <div class="max-w-sm  p-4 flex space-x-4">
      <i class="fa-brands fa-figma text-5xl text-gray-600"></i>
      <div>
        <h3 class="text-base font-bold mb-1">{{translate('aboutFrontTitlePart1')}}<b class="text-yellow-500">{{translate('aboutFrontTitlePart2')}}</b></h3>
        <p class="text-gray-600 text-xs">{{translate('aboutFrontDescription')}}</p>
      </div>
    </div>
    <div class="max-w-sm p-4 flex space-x-4">
      <i class="fa-solid fa-database text-5xl text-gray-600"></i>
      <div>
        <h3 class="text-base font-bold mb-1">{{translate('aboutBDDManagementTitlePart1')}}<b class="text-yellow-500">{{translate('aboutBDDManagementTitlePart2')}}</b></h3>
        <p class="text-gray-600 text-xs">{{translate('aboutBDDManagementDescription')}}</p>
      </div>
    </div>
    <div class="max-w-sm p-4 flex space-x-4">
      <i class="fa-brands fa-connectdevelop text-5xl text-gray-600"></i>
      <div>
        <h3 class="text-base font-bold mb-1">{{translate('aboutBackTitlePart1')}}<b class="text-yellow-500">{{translate('aboutBackTitlePart2')}}</b></h3>
        <p class="text-gray-600 text-xs">{{translate('aboutBackDescription')}}</p>
      </div>
    </div>
    <div class="max-w-sm p-4 flex space-x-4">
      <i class="fa-solid fa-code text-5xl text-gray-600"></i>
      <div>
        <h3 class="text-base font-bold mb-1">{{translate('aboutCleanCodeTitlePart1')}}<b class="text-yellow-500">{{translate('aboutCleanCodeTitlePart2')}}</b></h3>
        <p class="text-gray-600 text-xs">{{translate('aboutCleanCodeDescription')}}</p>
      </div>
    </div>
  </div>
</div>
