<nav class="h-screen animationsTopScroll bg-white" [ngClass]="{'menuWitheColorBarrTopScroll': isScrollTop && !isMobileView}">
  <div class=" mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-10 items-center justify-between lg:ml-40 lg:mr-40">
      <div class="flex-shrink-0 flex items-center animationsTopScroll" [ngClass]="{'menuItems': isScrollTop && !isMobileView}">
        <img class="h-8 w-auto rounded-full" src="../../assets/img/arkaitzImagen.jpeg" alt="Foto de Arkaitz">
        <h1 class="text-black font-bold ml-2">Arkaitz Calvo Saldias</h1>
      </div>
      <div *ngIf="!isMobileView" class="sm:block sm:ml-6 animationsTopScroll" [ngClass]="{'menuItems': isScrollTop && !isMobileView}">
        <div class="flex space-x-4">
          <a class="px-3 py-2 text-sm font-bold" [ngClass]="{'text-yellow-500': activeSection === 'home', 'underline': activeSection !== 'home'}" (click)="scrollTo('home')">Inicio</a>
          <a class="px-3 py-2 text-sm font-bold" [ngClass]="{'text-yellow-500': activeSection === 'about', 'underline': activeSection !== 'about'}" (click)="scrollTo('about')">Sobre mi</a>
          <a class="px-3 py-2 text-sm font-bold" [ngClass]="{'text-yellow-500': activeSection === 'proyects', 'underline': activeSection !== 'proyects'}" (click)="scrollTo('proyects')">Proyectos</a>
          <a class="px-3 py-2 text-sm font-bold" [ngClass]="{'text-yellow-500': activeSection === 'knowledge', 'underline': activeSection !== 'knowledge'}" (click)="scrollTo('knowledge')">Conocimientos</a>
          <a class="px-3 py-2 text-sm font-bold" [ngClass]="{'text-yellow-500': activeSection === 'contact', 'underline': activeSection !== 'contact'}" (click)="scrollTo('contact')">Contacto</a>
        </div>
      </div>
      <div *ngIf="isMobileView" class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0 " >
        <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false" (click)="toggleMobileMenu()">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <svg *ngIf="!showMobileMenu" class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <svg *ngIf="showMobileMenu" class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="isMobileView" id="mobile-menu" [ngClass]="{'out': !showMobileMenu}" class="h-auto transition-opacity duration-500 ease-in-out origin-top-right right-0 bg-gray-800 absolute z-10">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <a class="block rounded-md px-3 py-2 text-base font-medium" [ngClass]="{'text-yellow-500': activeSection === 'home', 'text-gray-300 hover:bg-gray-700 hover:text-white': activeSection !== 'home'}" (click)="scrollTo('home')">Inicio</a>
      <a class="block rounded-md px-3 py-2 text-base font-medium" [ngClass]="{'text-yellow-500': activeSection === 'about', 'text-gray-300 hover:bg-gray-700 hover:text-white': activeSection !== 'about'}" (click)="scrollTo('about')">Sobre mi</a>
      <a class="block rounded-md px-3 py-2 text-base font-medium" [ngClass]="{'text-yellow-500': activeSection === 'proyects', 'text-gray-300 hover:bg-gray-700 hover:text-white': activeSection !== 'proyects'}" (click)="scrollTo('proyects')">Proyectos</a>
      <a class="block rounded-md px-3 py-2 text-base font-medium" [ngClass]="{'text-yellow-500': activeSection === 'knowledge', 'text-gray-300 hover:bg-gray-700 hover:text-white': activeSection !== 'knowledge'}" (click)="scrollTo('knowledge')">Conocimientos</a>
      <a class="block rounded-md px-3 py-2 text-base font-medium" [ngClass]="{'text-yellow-500': activeSection === 'contact', 'text-gray-300 hover:bg-gray-700 hover:text-white': activeSection !== 'contact'}" (click)="scrollTo('contact')">Contacto</a>
    </div>
  </div>
</nav>

<div *ngIf="!isMobileView" class="vertical-line animationsTopScroll" [ngClass]="{'vertical-lineScrollTop marginLefItems': isScrollTop}"></div>
<div *ngIf="!isMobileView" class="social-icons animationsTopScroll" [ngClass]="{'marginLefItems': isScrollTop}">
  <a href="https://www.linkedin.com/in/arkaitz-calvo-saldias-71a3a4238/?originalSubdomain=es" target="_blank" class="ml-1.5">
    <i class="fa-brands fa-linkedin-in"></i>
  </a>
  <a href="https://github.com/XxFenixDCxX" target="_blank" class="ml-1.5">
    <i class="fa-brands fa-github"></i>
  </a>
</div>

<div *ngIf="!isMobileView" class="horizontal-line animationsTopScroll" [ngClass]="{'botoomLineMargin': isScrollTop}">
  <a *ngIf="isScrollTop" (click)="scrollTo('about')"><span class="text-center text-black text-sm font-bold">- CONTINÚA, <b class="text-center text-yellow-500 text-sm font-bold">QUIERO VER MÁS -</b></span></a>
  <a *ngIf="!isScrollTop" (click)="scrollTo('home')"><span class="text-center text-black text-sm font-bold">- SUBIR AL <b class="text-center text-yellow-500 text-sm font-bold">INICIO -</b></span></a>
</div>

<div *ngIf="!isMobileView" class="vertical-lineright animationsTopScroll" [ngClass]="{'vertical-lineScrollTop marginRightItems': isScrollTop}"></div>
<div *ngIf="!isMobileView" class="social-iconsRight animationsTopScroll" [ngClass]="{'marginRightItems': isScrollTop}">
  <span class="dot mr-1.5" [ngClass]="{'active': activeSection === 'home'}" (click)="scrollTo('home')"></span>
  <span class="dot mt-1.5 mr-1.5" [ngClass]="{'active': activeSection === 'about'}" (click)="scrollTo('about')"></span>
  <span class="dot mt-1.5 mr-1.5" [ngClass]="{'active': activeSection === 'proyects'}" (click)="scrollTo('proyects')"></span>
  <span class="dot mt-1.5 mr-1.5" [ngClass]="{'active': activeSection === 'knowledge'}" (click)="scrollTo('knowledge')"></span>
  <span class="dot mt-1.5 mr-1.5" [ngClass]="{'active': activeSection === 'contact'}" (click)="scrollTo('contact')"></span>
</div>

