<section class="projects-section relative overflow-hidden">
  <div class="overlayProjects"></div>
  <div class="absolute inset-0 z-0">
    <img src="https://repository-images.githubusercontent.com/293594764/baaa9580-7f68-11eb-8e18-e956d8b8b6d8" alt="Fondo de sección" class="absolute inset-0 w-full h-full object-cover opacity-50">
  </div>
  <div class="container mx-auto px-4 relative z-10 text-white py-12">
    <div class="text-center">
      <h1 class="text-4xl font-bold mb-1">PROYECTOS</h1>
      <h2 class="text-xs mb-8 font-bold">EXPLORA MI <b class="text-yellow-500">TRABAJO</b></h2>
    </div>
  </div>
</section>
