<style>
  /* Estilos personalizados */
  .navbar {
    position: fixed; /* Fija la barra de navegación en una posición específica */
    top: 0; /* La barra de navegación estará pegada en la parte superior */
    width: 100%; /* Ocupará todo el ancho de la pantalla */
    z-index: 999; /* Asegura que esté por encima de otros elementos */
    /* Agrega cualquier otro estilo que necesites */
  }
  html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      font-family: Arial, sans-serif;
    }

    /* Estilos para la primera página */
    .first-page {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      background-color: #f0f0f0; /* Color de fondo opcional */
    }

    .first-page img {
      max-width: 100%;
      height: auto;
      margin-bottom: 20px; /* Espacio entre la imagen y el texto */
    }
</style>

<app-navbar class="navbar"></app-navbar>
<div class="first-page">
  <img src="../assets/img/heroWallpaper.jpg" alt="Tu imagen">
  <h1>Tu Texto en el Centro</h1>
</div>
