<div class="overlay"></div>
<div>
  <img class="banner-image" src="../../assets/img/heroWallpaper.jpg" alt="Banner Image">
  <div class="absolute inset-0 flex flex-col justify-center items-center text-white">
    <h1 class="text-6xl font-bold mb-5 animate-color">Arkaitz Calvo Saldias</h1>
    <p class="text-xl font-bold">- DESARROLLADOR FULLSTACK -</p>
  </div>

  <div class="absolute bottom-0 left-0 right-0 flex justify-center mb-40">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2">Botón 1</button>
    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Botón 2</button>
  </div>
</div>
